@model FormViewModel

@section scripts
{
    <script src="~/js/CreateForm.js" asp-append-version="true"></script>
}

<form id="create-form" asp-action="Create" asp-controller="Form">

    <div class="create-form-container">

        <div class="create-form-title-container">

            <input id="form-title" name="formTitle" asp-for="@Model.CreateFormModel.Label" type="Text" onblur="" />

            <select id="form-type" name="formType" onchange="">
                @foreach (FormTypeEnum formType in Enum.GetValues<FormTypeEnum>())
                {
                    <option value="@formType">@formType</option>
                }
            </select>
        </div>

        <hr class="hr hr-blurry" />

        <div id="question-list-container">
            @foreach (QuestionDetailsViewModel question in Model.Questions)
            {

            }
        </div>

        <button id="add-question-button"
                type="button"
                class="btn btn-outline-primary"
                data-form-id="@Model.CreateFormModel.Id">
            Add question
        </button>

        <div class="d-flex justify-content-evenly w-50">
            <button id="save-form-button"
                    type="button"
                    class="btn btn-success"
                    data-form-id="@Model.CreateFormModel.Id">
                Save Form
            </button>

            <button id="validate-form-button"
                    type="button"
                    class="btn btn-primary"
                    data-form-id="@Model.CreateFormModel.Id"
                    disabled>
                CRAFT
            </button>
        </div>

    </div>
</form>