@model FormViewModel

@section scripts
{
    <script src="~/js/CreateForm.js" asp-append-version="true"></script>
}

<form id="create-form" asp-action="Create" asp-controller="Form">

    <div class="create-form-container">

        <div class="create-form-title-container">

            <input class="form-control" id="form-title" name="formTitle" asp-for="@Model.CreateFormModel.Label" type="Text" onblur="" style="font-size:1.4rem;"/>

            <select class="form-select" id="form-type" name="formType" onchange="">
                @foreach (FormTypeEnum formType in Enum.GetValues<FormTypeEnum>())
                {
                    <option value="@formType">@formType</option>
                }
            </select>
        </div>

        <hr class="hr hr-blurry" />

        <div id="question-list-container">
            @foreach (QuestionDetailsViewModel question in Model.Questions)
            {
                <div class="create-question card">
                    <div class="create-question-title-container">
                        <p class="question-number">@question.Question.Number</p>
                        <input id="@question.Question.Number-question-title" value="@question.Question.Label" type="text" data-id="@question.Question.Id" class="form-control" onblur="UpdateQuestionLabel(this)">

                        <select class="form-select" name="question-type" data-id="@question.Question.Id" data-question-id="@question.Question.Id" onchange="UpdateQuestionType(this)">
                            @foreach (QuestionTypeEnum questionType in Enum.GetValues<QuestionTypeEnum>())
                            {
                                <option value=@((int)questionType)>@questionType</option>
                            }
                        </select>

                        <button id="remove-question-button"
                                type="button"
                                class="btn btn-outline-danger"
                                data-id="@question.Question.Id"
                                onclick="RemoveQuestion(this);">
                            Remove
                        </button>
                    </div>

                    <div id="@question.Question.Number-question-answers" class="question-answers-container card">
                        @foreach (AnswerResponse answer in question.Answers)
                        {
                            <vc:create-answer answer="answer" />
                        }
                    </div>

                    <button id="add-answer-button"
                            type="button"
                            class="btn btn-outline-primary"
                            data-question-id="@question.Question.Id"
                            data-question-number="@question.Question.Number"
                            onclick="AddAnswer(this);">
                        Add answer
                    </button>
                </div>
            }
        </div>

        <button id="add-question-button"
                type="button"
                class="btn btn-outline-primary"
                data-form-id="@Model.CreateFormModel.Id">
            Add question
        </button>

        <div class="d-flex justify-content-evenly w-50">
            <button id="save-form-button"
                    type="button"
                    class="btn btn-success"
                    data-form-id="@Model.CreateFormModel.Id">
                Save Form
            </button>

            <button id="validate-form-button"
                    type="button"
                    class="btn btn-primary"
                    data-form-id="@Model.CreateFormModel.Id"
                    @(Model.Questions.Count == 0 ? "disabled" : "")>
                CRAFT
            </button>
        </div>

    </div>
</form>