@section scripts {
    <script src="~/js/FormList.js" type="text/javascript" asp-append-version="true"></script>
}


@using FormCraft.WebApp.ViewModels.FormViewModels

@model List<FormResponseViewModel>

<h2 class="d-flex justify-content-center">Form List</h2>

<form class="input-group d-flex mb-3 w-auto" id="search-form-form">
    <div class="input-group">



        <span class="text-black text-opacity-50 d-flex align-items-center m-2">Sort</span>
        <div class="dropdown">
            <select id="orderInput" class="form-select" name="order">
                <option value=1>By status</option>
                <option value=2>By type</option>
                <option value=3>By Label ascending</option>
                <option value=4>By Label descending</option>
                <option value=5>By date ascending</option>
                <option value=6>By date descending</option>
            </select>
        </div>


        <input id="labelInput" class="form-control w-auto" type="search" name="search" placeholder="Search...">

        <input class="btn btn-outline-secondary" type="button" value="Search" id="searchBtn" />



        <div class="d-flex gap-2 form-control justify-content-center check-box-container">
            @foreach (FormTypeEnum formType in Enum.GetValues<FormTypeEnum>())
            {
                <div class="form-check">
                    <div class="item">
                        <input class="form-check-input" type="checkbox" name="IsFormTypePicked" value="@formType" data-type="@formType" id="formTypeInput-@formType">
                        <label class="form-check-label" for="flexCheckDefault">
                            @formType
                        </label>
                    </div>
                </div>
            }
        </div>

        <div class="d-flex gap-2 form-control justify-content-center check-box-container">


            @foreach (StatusEnum formStatus in Enum.GetValues<StatusEnum>())
            {
                if (User.Identity.IsAuthenticated || !User.Identity.IsAuthenticated && formStatus != StatusEnum.InProgress)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="IsStatusEnumPicked" value="@formStatus" data-status="@formStatus" id="statusInput-@formStatus">
                        <label class="form-check-label" for="flexCheckDefault">
                            @formStatus
                        </label>
                    </div>
                }
            }
        </div>

    </div>
</form>

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>CreatorName</th>
            <th>Label</th>
            <th>FormTypeId</th>
            <th>StatusId</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list-container">
        <vc:form-rows forms="@Model"></vc:form-rows>
    </tbody>
</table>

