@model QuestionResponse

<div class="create-question card">
    <div class="create-question-title-container">
        <input id="question-title" value="@Model.Label" type="text" data-id="@Model.Id" class="form-control" onblur="UpdateQuestionLabel(this)">

        <select class="form-select" name="question-type" data-id="@Model.Id" data-question-id="@Model.Id" onchange="UpdateQuestionType(this)">
            @foreach (QuestionTypeEnum questionType in Enum.GetValues<QuestionTypeEnum>())
            {
                <option value=@((int)questionType)>@questionType</option>
            }
        </select>

        <button id="remove-question-button"
                type="button"
                class="btn btn-outline-danger"
                data-id="@Model.Id"
                onclick="RemoveQuestion(this);">
            Remove Question
        </button>
    </div>

    <div id="@Model.Number-question-answers" class="question-answers-container card">

    </div>

    <button id="add-answer-button"
            type="button"
            class="btn btn-outline-primary"
            data-question-id="@Model.Id"
            data-question-number="@Model.Number"
            onclick="AddAnswer(this)">
        Add answer
    </button>
</div>